  <div class="wrapper">
  <aside>
    <header>
      <h1><%= link_to 'the junior developer', root_path, class: "title" %></h1>
      <h3 class="sub-heading">
        <span class="label">all the resources, articles and information you'll ever need</span>
        <span class="label">Created by <%= link_to "Me", "#", target: "_blank" %></span>
      </h3>
      <%= link_to "subscribe", "http://eepurl.com/Tze0T", class: "button subscribe" %>
      <%= link_to "RSS", articles_url(format: "atom"), class: "button rss" %>
      <%= link_to "twitter", "http://twitter.com/thejrdev", class: "button twitter" %>
    </header>
  </aside>
  <section>
    <% @articles.each do |article| %>
      <div class="article-container">
        <%= link_to article.title, article.url, target: "_blank", class: "article-head" %>
        <p>
          <%= article.description %>
        </p>
        <ul class="tags">
          <li>
            <%= raw article.tag_list.map { |tag| link_to tag, tag_path(tag)}.join(' ') %>
          </li>
        </ul>
      </div>
    <% end %>
    <div class="pagination-buttons">
      <% if params[:tag] %>
        <%= link_to "back", root_path, class: "travel pop" %>
      <% else %>
        <% if @articles.previous_page %>
          <%= link_to "nah, go back", params.merge(page: @articles.previous_page), class: "travel pop" %>
        <% end %>
        <% if @articles.next_page %>  
          <%= link_to "more", params.merge(page: @articles.next_page), class: "travel pop" %>
        <% end %>
      <% end %>
    </div>
  </section>
</div>


