<div class="wrapper">
  <aside>
    <header>
      <h1>the junior developer</h1>
      <h3>all the resources, articles and information you need</h3>
    </header>
  </aside>
  <section>
    <% @articles.each do |article| %>
      <div class="article-container">
        <%= link_to article.title, article.url, target: "_blank", class: "article-head" %>
        <p>
          <%= article.description %>
        </p>
        <ul class="tags">
          <li>
            <%= raw article.tag_list.map { |tag| link_to tag, tag_path(tag)}.join(' ') %>
          </li>
        </ul>
      </div>
    <% end %>
    <ul class="pagination-buttons">
      <% if params[:tag] %>
        <li><%= link_to "back", root_path, class: "back wobble-vertical" %></li>
      <% else %>
        <% if @articles.previous_page %>
          <li>
            <%= link_to "previous", params.merge(page: @articles.previous_page), class: "previous wobble-vertical" %>
          </li>
        <% end %>
        <% if @articles.next_page %>  
          <li><%= link_to "next", params.merge(page: @articles.next_page), class: "next wobble-vertical" %></li>
        <% end %>
      <% end %>
    </ul>
  </section>
</div>


