<div class="wrapper">
  <aside>
    <header>
      <h1>the junior developer</h1>
      <h3>all the resources, articles and information you need</h3>
      <a href="http://eepurl.com/Tze0T">
        <div class="button">
          <span class="label">newsletter</span>
          <span class="label">subscribe</span>
        </div>
      </a>
    </header>
  </aside>
  <section>
    <% @articles.each do |article| %>
      <div class="article-container">
        <%= link_to article.title, article.url, target: "_blank", class: "article-head" %>
        <p>
          <%= article.description %>
        </p>
        <ul class="tags">
          <li>
            <%= raw article.tag_list.map { |tag| link_to tag, tag_path(tag)}.join(' ') %>
          </li>
        </ul>
      </div>
    <% end %>
    <div class="pagination-buttons">
      <% if params[:tag] %>
        <%= link_to "back", root_path, class: "travel pop" %>
      <% else %>
        <% if @articles.previous_page %>
          <%= link_to "previous", params.merge(page: @articles.previous_page), class: "travel pop" %>
        <% end %>
        <% if @articles.next_page %>  
          <%= link_to "next", params.merge(page: @articles.next_page), class: "travel pop" %>
        <% end %>
      <% end %>
    </div>
    <footer></footer>
  </section>
</div>


