<div class="wrapper">
	<div class="left">
		<h3>New article</h3>

		<%= gravatar_for @user %>
		<p><%= @user.name %></p>
	</div>
	<div class="right">
		<%= render 'form' %>
	

		<%= link_to 'Back', articles_path %>

		<%= link_to "Sign out", session_path(@user), method: "delete" %>
	</div>
</div>