<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Signika+Negative|Maven+Pro' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:700' rel='stylesheet' type='text/css'>
	<%= favicon_link_tag 'favicon.png' %>
  <title>The Junior Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

	<%= render 'layouts/googlescript' %>
</body>
</html>
